extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      h1= title
      h2= subtitle
    div.col-lg-4.col-sm-12

      h3= card0title
      p= card0
      p= metadataPrintout0


    div.col-lg-4.col-sm-12
      h3= card1title
      p= card1

    div.col-lg-4.col-sm-12
      h3= card2title
      
      p= card2
