extends layout

block content
  div.row.main

    div.col-lg-4.col-sm-12
      h2.light With data to guide your process
      h2 You can focus on vital business tasks
      //- p Once we have the content, we can learn what it is and make smart choices about what to do next.
      //- p Identifying content types and routing to the right resource gets applications completed faster and with less errors.

      div.col-lg-12.left-align
        div.bs-callout.bs-callout-light 
          h4 Work with the license
          p Lee has full visibility to the content and all we've learned about it
          
          a(href=filePath, target='_blank') Learn more
      div.col-lg-12.left-align
        div.bs-callout.bs-callout-light 
          h4 Work the case
          p Andrew can see the same content in the context of his case
          a(href='https://sndpp316.service-now.com/nav_to.do?uri=%2Fincident.do%3Fsys_id%3D8e9617b9db4fe700a6669cb8db96195d%26sysparm_record_list%3Dcaller_id%253Djavascript:gs.getUserID()%255Eactive%253Dtrue%255EORDERBYDESCnumber%26sysparm_record_row%3D1%26sysparm_record_rows%3D1%26sysparm_record_target%3Dincident%26sysparm_view%3Dsp', target='_blank'): img(src='/images/servicenow.png')
          a(href=salesforceCaseLink, target='_blank'): img.logo.right(src='/images/salesforce.png')
          p &nbsp;
      div.col-lg-12.left-align
        div.bs-callout.bs-callout-light 
          h4 Build in more process
          p Automating the steps removes manual effort and keeps things moving smoothly

          a(href=boxRelayLink, target='_blank') Learn more

    div.col-lg-8.col-sm-12      
      div.bs-callout.bs-callout-info 
        //- img.userPic(src='/images/paul.jpg', height='50px')
        //- h4 Paul's Story
        //- p 
        //- | Lee is a reviewer,
        //- br
        //- | He wants access to relevant and timely information
        //- br
        //- | So that he can focus on creating value not gathering data
        div.preview-container
        script(src='https://cdn01.boxcdn.net/platform/elements/10.1.0/en-US/preview.js')
        script(src='/js/content-preview.js', fileId=fileId, client=secret)
     
      
    include includes/progress-bar.pug
